<html lang="en">

<head>
  <% include ../helpers/head %>
</head>

<body>
  <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Weather Web App</h1>
  </div>

<!--   <p>Click on the button for a surprise.</p>

  <button onClick="showPicture()" class="btn btn-dark">Click me</button>

  <div id="image"></div> -->
  
  <input class="search" type="text" placeholder="Enter City name">
  <button type="button" onClick="searchWeather()">Search</button>
  
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><span class="city"> </span></h5>
<!--       <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
      <p class="card-text">
        Temperature: <span class="temp"> </span>&#xb0;C<br/>
        Feels like: <span class="feels"> </span>&#xb0;C
      </p>
    </div>
  </div>
  
  

</body>

</html>